[submodule "external/byte-track-cpp"]
	path = external/byte-track-cpp
	url = https://github.com/cj-mills/byte-track-eigen.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
